langgraph
langchain
pydantic
langchain-openai
openai
python-dotenv
langchain_core
langchain_community
faiss-cpu
langchain_groq
pymupdf
typing_extensions
fastapi
uvicorn
python-multipart
langchain_google_genai
ipython